.prodSel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 2rem;
    text-decoration: underline;
    text-shadow: 1px 1px 2px white;
}

.containerProds {
    display: grid;
    grid-template: 100px / 1fr;
    gap: 1rem;
}

.titulos {
    background: #eda230;
    border-radius: 5px;
    padding: 5px;
}

.containerFl {
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: space-around;
}

.borrarTodo {
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.producto{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20rem;
    justify-content: start;
}

.precioXUnidad{
    display: flex;
    align-items: center;
    width: 20rem;
    justify-content: center;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40rem;
}

.img {
    height: 70px;
    width: 70px;
}

.imgDelete {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: 1rem;
}

.productList{
    width: 5rem;
    margin-right: 2rem;
}

.containerFinal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 11rem;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.btnFinalizar{
    display: none;
}

.sumarRestar {
    padding: 5px;
}