.containerProds {
    display: grid;
    grid-template: 100px / 1fr;
    gap: 1rem;
}

.titulos {
    background: #eda230;
    border-radius: 5px;
    padding: 5px;
}

.containerFlex1 {
    display: flex;
    width: 48vw;
    align-items: center;
    justify-content: space-between;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

.img {
    height: 70px;
    width: 70px;
}

.imgDelete {
    height: 40px;
    width: 40px;
}

.productList{
    width: 5rem;
}

h5{
    margin-right: 1rem;
}

.containerFinal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 7rem
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
}